<div>
  <form>
    <div class="form-group">
      <label><b>Name</b></label>
      <input required name="txtName" class="form-control" type="text" placeholder="Name" [(ngModel)]="itemDTO.name"
             pattern="^\b(?:[A-Z]\w+\b(?:\s*)?)+$">
    </div>
    <div class="form-group">
      <label><b>Description</b></label>
      <input required name="txtDescription" class="form-control" type="text" placeholder="Description"
             [(ngModel)]="itemDTO.description" pattern="^\b(?:[A-Z]\w+\b(?:\s*)?)+$">
    </div>
    <div class="form-group">
      <label><b>Qty.</b></label>
      <input required name="txtPrice" class="form-control" type="text" placeholder="Qty." [(ngModel)]="itemDTO.price">
    </div>
    <div class="form-group">
      <label><b>Price</b></label>
      <input required name="txtQty" class="form-control" type="text" placeholder="Price" [(ngModel)]="itemDTO.qty">
    </div>
    <button type="submit" class="btn btn-outline-primary" (click)="addItem()">Add Item</button>
    &nbsp;
    <button type="submit" class="btn btn-outline-success" *ngIf="isEdit" id="btnUpdate" (click)="updateItem()">Update
      Item
    </button>
    &nbsp;
    <button type="submit" class="btn btn-outline-danger" *ngIf="isEdit" (click)="deleteItem(itemDTO.code)">Delete Item</button>
  </form>
</div>

<br>
<br>

<div>
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Qty.</th>
      <th scope="col">Price (Rs.)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of itemList" (click)="getTextValue(item)">
      <th>{{item.code}}</th>
      <th>{{item.name}}</th>
      <th>{{item.description}}</th>
      <th>{{item.price}}</th>
      <th>{{item.qty}}</th>
    </tr>
    </tbody>
  </table>
</div>
